<!-- Extends the main layout -->
{% extends "layout.html" %}

<!-- Title for the page -->
{% block title %}New Post{% endblock %}

<!-- Main content for the page -->
{% block content %}

<div class="col-xs-12">
    <h1 class="text-center">Create New Blog Post</h1>
</div>

<!-- Form to create a new post -->
<form class="col-xs-12" method="post">
    <span id="error" class="text-danger">{{error}}</span>
    <div class="form-group">
        <label for="subject">Subject</label>
        <input type="text" class="form-control" placeholder="Subject" name="subject" value="{{subject}}" data-trigger="focus" data-toggle="tooltip" data-placement="bottom" title="Enter the subject.">
    </div>
    <div class="form-group">
        <label for="content">Content</label>
        <textarea name="content" class="form-control" rows="15" placeholder="Content">{{content}}</textarea>
    </div>

    <button type="submit" class="btn btn-default">Create</button>
</form>
{% endblock %}

<!-- Overwrite so the controls doesn't show on this page -->
{% block auth %}
{% endblock %}

<!-- Bootstrap/jquery plugin initialization to show the tooltips -->
{% block scripts %}
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
{% endblock %}