{% extends "layout.html" %}
{% block title %}Home{% endblock %}



{% block content %}
<div class="row post">
    <h3 class="text-center">{{post.subject}}</h3>
    <div class="text-right">
        <span>Posted: <time class="timeago" datetime="{{post.created}}+00:00"></time></span>
    </div>
    <hr />
    <p>{{post.content.replace('\n','<br />') | safe}}</p>
</div>

{% endblock %}

{% block scripts %}
<script src="./assets/js/jquery.timeago.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function () {
        $("time.timeago").timeago();
    });
</script>
{% endblock %}
